.login, .register {
    width: 420px;
    margin: 80px auto 0;
    text-align: left;
}
.login {
    margin-bottom: 111px;
}
:is(.login, .register) h1 {
    font-size: var(--font-size--h1);
    line-height: var(--font-size--h1);
    font-weight: var(--font-weight--bold);
    margin-bottom: 20px;
    letter-spacing: -2px;
}
:is(.login, .register) h3 {
    font-size: var(--font-size--h4);
    font-weight: var(--font-weight--regualr);
    margin-bottom: 60px;
    line-height: 1.5;
}
.registerForm {
    margin-bottom: 120px;
}
.formInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.formInput label {
    display: block;
    margin-bottom: 15px;
}
.formInput input {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: var(--font-size--h4);
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}
.formInput input.inputErr {
    border: 1px solid red;
}
.passwordContainer {
    position: relative;
}
.passwordInput input {
    width: 100%;
}
.passwordBtn {
    width: 16px;
    height: 16px;
    background: url("/src/assets/images/eye-off.svg") no-repeat center center / 100%;
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);
    z-index: 100;
}
.passwordBtn.passwordBtnVisible {
    background: url("/src/assets/images/eye-on.svg") no-repeat center center / 100%;
}
.termsContainer {
    margin-top: 50px;
}
.termsContainer label {
    display: flex;
}
.termsContainer input, .rememberMe input {
    display: none;
}
.checkAll {
    font-size: var(--font-size--h4);
    font-weight: var(--font-weight--bold);
    display: flex;
    align-items: center;
}
.checkAll span {
    font-weight: 400;
    margin-left: 0.2rem;
}
.termsCheckBtn, .checkBtn {
    width: 20px;
    height: 20px;
    border: var(--border--gray);
    margin-right: 10px;
}
.termsCheckBtn.active, .checkBtn.active {
    border: 0;
    background: var(--main-color) url("/src/assets/images/check-icon.svg") no-repeat center center / 13px 10px ;
}
.termsSubContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: var(--border--gray);
}
.termsSubContainer li {
    display: flex;
    justify-content: space-between;
}
.subLabel {
    display: flex;
    justify-content: space-between;
}
.termsSubContainer li:last-child .subLabel {
    margin-bottom: 0;
}
.termSubInput {
    display: flex;
    align-items: center;
    font-size: var(--font-size--h4);
}
.formSubmit {
    width: 100%;
    height: 55px;
    line-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    background: var(--gray--5);
    color: #fff;
    font-size: var(--font-size--h3);
    transition: all 0.2s;
}
.formSubmit:disabled {
}
.formSubmit.active {
    background: var(--main-color);
    cursor: pointer;
}
.emailContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.emailContainer input {
    width: 100%;
}
.emailCheckInput {
    width: 250px !important;
}
.emailCheckInput:disabled {
    background: var(--gray--1);
}
.authBtn {
    width: 160px;
    background: var(--main-color);
    color: var(--white);
    cursor: pointer;
}
.authBtn:disabled {
    cursor: default;
    background: var(--gray--5);
    color: var(--white);
}
.authBtn.success {
    border: 1px solid var(--main-color);
    background: var(--white);
    color: var(--main-color);
}
.rememberMe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px !important;
}
.rememberMe div {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.findAccount {
    text-align: center;
    font-size: var(--font-size--h4);
}
.findAccount a {
    display: inline-block;
    margin-left: 3px;
}
.emptyContainer {
    margin: 60px 0px 40px;
    color: var(--gray--3);
    font-size: var(--font-size--h4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line {
    width: 140px;
    height: 1px;
    background: var(--gray--3);
}
.registerBtn {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 55px;
    font-size: var(--font-size--h3);
    font-weight: 500;
}
.registerBtn {
    border: var(--border--blue);
    color: var(--blue);
    margin: 20px 0;
}
.blockBtn {
    background: var(--main-color);
    color: var(--white);
}
.snsContainer {
    width: 296px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.snsContainer button {
    width: 50px;
    height: 50px;
}
.snsContainer .facebook { background: url("/src/assets/images/face.svg") no-repeat center / 100% }
/*.snsContainer .kakao { background: url("/src/assets/images/kakao.svg") no-repeat center / 100%; margin: 0 40px; }*/
.snsContainer .kakao { background: url("/src/assets/images/kakao.svg") no-repeat center / 100%; margin-left: 40px; }
.snsContainer .kakao a { display: block; width: 100%; height: 100% }
.snsContainer .apple { background: url("/src/assets/images/apple.svg") no-repeat center / 100%; }
@media screen and (max-width: 480px) {
    .login, .register {
        width: 360px;
        padding: 0 20px;
    }
    .login {
        margin-bottom: 70px;
    }
    .line {
        width: 25%;
    }
    .emailCheckInput {
        width: 204px !important;
    }
    .authBtn {
        width: 116px !important;
        font-weight: lighter;
    }
    .passwordBtn {
        width: 20px;
    }
}